<div class="jumbotron">
    <h1>API PRODUTOR - CONSUMIDOR</h1>
</div>
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-6">
        <form>
            <div>
                <h2>Write a message:</h2>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
