<div class="jumbotron">
    <h1>API PRODUTOR - CONSUMIDOR</h1>
</div>
<div class="row">
    <form sourceindex="1">
        <div>
            <h2>Write a message:</h2>
            <textarea class="form-control" rows="5" id="message" sourceindex="2"></textarea>
            <button type="submit" class="btn btn-primary" sourceindex="3" onclick="write()">Save</button>
        </div>
    </form>
</div>

<script>
    function write() {
        var message = document.getElementById("message").value;
        $.post("api/values", { value: message.toString });
    }
</script>